html {
    min-height:100%;
}

body {
    background:linear-gradient(150deg, #445566, #AABBCC);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}

a:not(nav ul li a) {
    color: white;
}

a:hover:not(nav ul li a) {
    color: #2F4F4F;
}

.banner {
    background-image: url(/static/background.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    border-bottom: 2px solid #333;
    text-align: center;
    height: 200px;
    padding: 3%;
    color: white;
}

.banner h1 {
    font-size:50px; 
}

.card-color {
    background-color: #8899AA;
}

.login-page {
    height: 80%;
}

.login {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #8899AA;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.login h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.login .error{
    color:red;
    text-align: center;
    border-bottom:none;
    margin: 0px;
}

.login hr {
    background-color:#FFFFFF;
    height: 2px;
    border: 0px;
}

.login div {
    position: relative;
    border-bottom: 2px solid #FFFFFF;
    margin: 30px 0;
}

.login input {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    padding: 0 5px;
    height: 40px;
    font-size: 16px
}

.login label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #FFFFFF;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s
}

.login div span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2F4F4F;
    transition: .5s;
  }

.login div input:focus ~ label,
.login div input:valid ~ label{
    top: -5px;
    color: #2F4F4F;
}

.login div input:focus ~ span::before,
.login div input:valid ~ span::before{
    width: 100%;
}

.login input[type="submit"] {
    width: 100%;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color:#2F4F4F;
}

.login .no-underline {
    font-size: 16px;
    border-bottom:none;
    margin: 0px;
    text-align: center;
}

nav {
    background-color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
    color:#AABBCC;
    opacity: 0.5;
}

nav ul li a.active {
    background-color: #2F4F4F;
}

nav ul li.right {
    float:right;
}

nav .dropdown{
    display: none;
}

@media screen and (max-width: 600px) {
    nav:not(.dropdown) {display: none;}
    nav ul li:not(.dropdown) {float:none;}

    nav .dropdown{
        text-align: center;
        display: flex;
        float: none;
    }

    nav .dropdown hr {
        color: #FFFFFF
    }

    .nav-sub {
        background-color: #2F4F4F;
        width: 100%;
    }

    nav button {
        background-color: #2F4F4F;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 100%;
      
    }

    nav .show {
        display: none;
    }

}

.page-body {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    max-width: 70%;
    padding: 20px;
}