header {
    background-color: #202027; 
    height: auto;
}

footer {
    background-color: #202027;
    height: auto;
    align-items: center;
}

body {
    background-color: lightslategray;
    font-family: 'Courier New', Courier, monospace
<<<<<<< HEAD
}

nav {
    margin-bottom: 10px;
    padding: 100px;
}

.login-page {
    height: 80%;
=======
}

.login-page {
    height: 100vh;
    align-items: center;
    flex:content;
    justify-content: center;
>>>>>>> da49cd8d573d777f199c09ef3fa2da796334a457
}

.login {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #8899AA;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.login h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #FFFFFF;
<<<<<<< HEAD
}

.login .error{
    color:red;
    text-align: center;
    border-bottom:none;
    margin: 0px;
}

.login hr {
    background-color:#FFFFFF;
    height: 2px;
    border: 0px;
}

.login a {
    text-decoration-line: none;
}

.login div {
    position: relative;
    border-bottom: 2px solid #FFFFFF;
    margin: 30px 0;
}

.login input {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    padding: 0 5px;
    height: 40px;
    font-size: 16px
}

=======
}

.login strong{
    color: red;
    background-color:darkred;
    text-align: center;
}

.login a {
    text-decoration-line: none;
}

.login div {
    position: relative;
    border-bottom: 2px solid #FFFFFF;
    margin: 30px 0;
}

.login input {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    padding: 0 5px;
    height: 40px;
    font-size: 16px
}

>>>>>>> da49cd8d573d777f199c09ef3fa2da796334a457
.login label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #FFFFFF;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s
}

.login div span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: royalblue;
    transition: .5s;
  }

.login div input:focus ~ label,
.login div input:valid ~ label{
    top: -5px;
    color: royalblue;
}

.login div input:focus ~ span::before,
.login div input:valid ~ span::before{
    width: 100%;
}

<<<<<<< HEAD
=======
.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }
  .pass:hover{
    text-decoration: underline;
  }

>>>>>>> da49cd8d573d777f199c09ef3fa2da796334a457
.login input[type="submit"] {
    width: 100%;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color:royalblue;
}

.login .no-underline {
    font-size: 16px;
    border-bottom:none;
    margin: 0px;
    text-align: center;
}

.banner {
    background-image: url(/static/background.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    border-bottom: #2F4F4F;
}

.wrapper{
    display: inline-block
}

.card-color {
    background-color: #8899AA;
}