{% extends "home_layout.html" %}

{% block body %}

<div class="page-body">
    <div>
        <h1>Information for {{name}} </h1>
    </div>
    <hr>
    <div style="text-align: left;">
        Personal details:
        <ul>
            <li>Username: {{username}}</li>
            <li>First name: {{name}}</li>
            <li>Last name: {{last_name}}</li>
            <li>Email: {{email}}</li>
            <li>Password: {{password}}</li>
        </ul>
    </div>
    <hr>
    <div style="text-align: left;">
        Website Stats:
        <br>
        <br>
    </div>
</div>

{% endblock %}