{% extends "home_layout.html" %}

{% block body %}
    <div class="banner">
        <h1> Welcome {{user}} </h1>
        <p> Scroll to see your tasks </p>
    </div>
    <div class="page-body">
        <div class="container">
            <h2>To do</h2>
            <hr>
            <div class="row">
                {% for task in tasks %}
                    <div class="col-12 col-lg-6 col-xl-4 mb-4 foo">
                        <div class="card">
                            <img class="card-top" src="{{task[7]}}" alt="{{subject}}">
                            <div>
                                <h1><a href="/tasks/{{task[0]}}">{{task[3]}}</a></h1>
                                <hr>
                                <p>{{task[1]}}</p>
                                <hr>
                                <p>Set: {{task[5]}}</p>
                                <p>Due: {{task[4]}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if tasks|length == 0 %}
                <p>no tasks!</p>
                {% endif %}
            </div>  
        </div>
    </div>
{% endblock %}