{% extends "home_layout.html" %}

{% block body %}
    <div class="banner">
        <h1> Welcome {{user}} </h1>
        <p> Scroll to see your tasks </p>
    </div>
    <div class="page-body">
        <h2>To do</h2>
        <hr>
        <div class="row">
            {% for subject in subject_list %}
                <div class="col-12 col-lg-6 col-xl-4 mb-4 foo">
                    <div class="card">
                        <img class="card-top" src="/static/subject_images/{{subject}}.svg" alt="{{subject}}">
                        <div>
                            <h1>{{subject}}</h1>
                            <hr>
                            <p>Some really fun {{subject}} homework to be doing yayyyy</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if subject_list|length == 0 %}
            <p>no tasks!</p>
            {% endif %}
        </div>  
    </div>
{% endblock %}