<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/style.css" >
        <script>
            function myFunction() {
                document.getElementById("dropdown").classList.toggle("show");
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

        <title>Home</title>
    </head>
    <body>

        <nav>
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/tasks">Tasks</a></li>
                <li><a href="/revision">Revision</a></li>
                <li><a href="/timetable">Timetable</a></li>
                <li class="right"><a class="active" href="/account">Account</a></li>
                <li class="right"><a href="/logout">Sign Out</a></li>
            </ul>
        </nav>
        
        <nav class="dropdown">
            <ul class="dropdown">
                <li class="nav-sub">
                    <button onclick="myFunction()">Menu</button>
                    <div class="show" id="dropdown">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/tasks">Tasks</a></li>
                            <li><a href="/revision">Revision</a></li>
                            <li><a href="/timetable">Timetable</a></li>
                            <hr>
                            <li><a href="/account">Account</a></li>
                            <li><a href="/logout">Sign Out</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>

        <main>
            {% block body %}{% endblock %}
        </main>

        <!-- <footer>
            <div class="row">
                <div class="col-5">
                    MORNING MORNING MORNING HI HI HI MORNING HI
                </div>
                <div class="col-5">
                    SOME MORE TEXT YAY
                    MAYBE A <a href="#">LINK</a>
                </div>
            </div>
        </footer> -->
    </body>
</html>