{% extends "account_layout.html" %}

{% block body %}

{% if message %}
<div class="container mb-3 alert alert-danger" role="alert">
    <strong>ERROR:</strong> {{message}}!
</div>
{% endif %}
<div class="container-fluid login">
    <h1 class="text-center">Sign In!</h1>

    <form action="/sign_in" method="post" class="needs-validation">
        <hr>
        <div>
            <input type="text" name="username" id="username" autofocus autocomplete="off" required readonly onfocus="this.removeAttribute('readonly')";>
            <span></span>
            <label for="username">Username</label>
        </div>
        <div>
            <input type="password" id="password" name="password" required>
            <span></span>
            <label for="password">Password</label>
        </div>
        <input type="submit" value="SIGN IN" class="btn btn-primary" style="border-bottom: 1px solid black;">
        <div class="no-underline">
            Dont have an account? <a href="/create_account">Create one!</a>
        </div>
    </form>
</div>
{{ test }}

{% endblock %}