{% extends "home_layout.html" %}

{% block body %}

<div>{{message}}</div>

<div class="container">
    <h2>Create Task</h2>
    <hr>
    <p>Click on the button to create a task</p>
    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo">Create</button>
    <div id="demo" class="collapse">
        <form action="/tasks", method="post">
            <div class="mb-3">
                <input type=text id=description name=description required autocomplete="off">
                <span></span>
                <label for=description>Description</label>
            </div>
            <div class="mb-3">
                <select name="category" id="category">
                    <option value="art">Art</option>
                    <option value="biology">Biology</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="computing">Computing</option>
                    <option value="geography">Geography</option>
                    <option value="history">History</option>
                    <option value="maths">Maths</option>
                    <option value="physics">Physics</option>
                    <option value="psychology">Psychology</option>
                </select>
                <label for="category">Category</label>
            </div>
            <div class="mb-3">
                <input type="date" id=due_date name=due_date required>
                <span></span>
                <label for="due_date">Due date</label>
            </div>
            <input type="submit">
        </form>
    </div>
  </div>
  <hr>

{% endblock %}